<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GPS</title>
        <link rel="stylesheet" type="text/css" href="css/additionalassistancecss.css">
        <link rel="icon" href="images/minilogo.png" type="images/minilogo.png">
        <script src="https://kit.fontawesome.com/c5e4be97dd.js" crossorigin="anonymous"></script>
        <style>

            .page2{
               background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/people.jpg");
            }
        </style>
    </head>
    <body>
    <!--Start ANNOUNCEMENT and NAVIGATION BAR--------------------------->
    
            <div id="main">
                <div class="announcement">
                    <p id="welcome-bar">Welcome to the Official Page of Government Pandemic Subsidy Site!</p>
                </div>
                <div class="navbar">
                <div class="logo">
                    <a href="HOME_PAGE.html"> <img src="images/logo.png" alt=""></a>
            </div>
            <nav>
                
                <ul>
                   
                    <a href="MENU_PAGE.html"><li>About us</li></a>
                    <a href="ABOUT_PAGE.html"><li>Inquiries</li></a>
            
                </ul>
             </nav>
        
                 </div>
                 <hr>
<!-- END -->

     
                 <div class="page2">
                     

                 <a class="applicant" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                   Applicant Information
                </a>
                <a class="subsidy" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Subsidy
                </a>
                <a class="status" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Status
                </a>
                <a class="assistance" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Additional Assistance
                </a>
              
                <a class="logout" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Logout
                </a>
              


                       <div class="introduction">
                       





                        
                       </div>
                   
                 </div>

                 



<!-- FOOTER -->

                 <footer class="footer">
                    <div class="footer-left">
                        <img src="images/logo.png">
                
                        <div class="socials">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <ul class="footer-right">
                        <li>
                            <h3>Socials</h3>
                            
                            <ul class="footer-box">
                                <li><a href="https://www.facebook.com/blackcupcogeo/" target="_blank">Facebook</a></li>
                                <li><a href="https://www.instagram.com/_rolianne/"target="_blank">Instagram</a></li>
                                <li><a href="https://www.youtube.com/annemaestre"target="_blank">Youtube</a></li>
                                
                            </ul>
                        </li>
            
                        <li class="features">
                            <h3>Contact us</h3>
                            
                            <ul class="footer-box">
                                <li><a href="mailto:blackcupcogeo@gmail.com" target="_blank">rolianne.maestre@gsfe.tupcavite.edu.ph</a></li>
                                <li>0945 290 1920</li>
                                
                            </ul>
                        </li>
            
                        <li>
                            <h3>Address</h3>
                            
                            <ul class="footer-box">
                                <li><a href="https://www.google.com/maps/place/Mabuhay+City+Subdivision/@14.3199002,120.9870772,17z/data" target="_blank">
                                    Mabuhay City, Paliparan 3 Dasmarinas City Cavite, 4114</a></li>
                                    <li><a href="https://www.google.com/maps/place/38+F.T.+Catapusan+Rd,+Alaza+Aldea,+Tanay,+1980+Rizal/@14.495869,121.2863773,17z/"></a></li>
                            </ul>
                        </li>
                    </ul>
            
                    <div class="footer-bottom">
                        <p>All Rights Reserved 2021</p>
                    </div>
                </footer>