{% extends 'navigation.html' %}

{% load static %}
{% block content %}

    <!--Start ANNOUNCEMENT and NAVIGATION BAR--------------------------->
    
<!-- END -->

     <br>
      <div class="inquiriespage">

           <div class="introductioninquiries">
                           <br>

                        <h1>Your Voice matters</h1>
                        <p style="text-align: center;">If you have any suggestions, questions, and comment. Please leave it here.</p>
                        <br>

            <forms class="inquireandcomment" method="POST" action="/prac/{{inquire.id}}/addinquire" >
            
                <label for="nameinquires">Name</label><br>
                        <input style="border-radius: 20px;border: 2px solid black; height: 25px; text-align: center;"type="text" id="nameinquiries" name="nameinquiries" placeholder="Name"><br>
                
                <label for="contactinquiries" class="contact">Contact</label><br>
                        <input style="border-radius: 20px;border: 2px solid black;height: 25px; text-align: center;"type="text" id="contactinquiries" name="contactinquiries" placeholder="CONTACT NUMBER"><br>
                        
                <label for="message" class="message">Type of message</label><br>
                        
                        <select name="typemessage" id="typemessage">
                        <option value="suggestion">Suggestion</option>
                        <option value="question">Question</option>
                        <option value="comment">Comment</option>
                        </select>
                        
                        <h3>Compose your message here</h3>
                        <textarea style="border: 2px solid black;"type="text" name="message" id="message"  cols="40" rows="13" ></textarea><br>


                        <a href="{% url 'Applicant' %}" class="inquiriesbtn">Submit</a>              

            </forms>



            <table>

            </table>
         </div>
                   
     </div>

<!--                

                 <p id="demo"></p>
                 
                 <script>
                 function myFunction() {
                   var txt;
                   if (confirm("Press a button!")) {
                     txt = "You pressed OK!";
                   } else {
                     txt = "You pressed Cancel!";
                   }
                   document.getElementById("demo").innerHTML = txt;
                 }
                 </script> -->
                 <form method="POST" action='/prac/{{pn.id}}/addItem'>


                    <table id="inqandcom">
                        <tr>
                            <th style="color:white">Applicant</th> 
                            <th style="color:white">Status : Pending</th></tr>
                        <tr>
                            <th style="color:white">NAME</th>
                            <th style="color:white">ADDRESS</th>
                        </tr>
                    
                            {% for item in pn.item_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}: {{ item.text }} </td>
                            <td>{{ item.address }} </td> 
                        </tr>
                        {% endfor %}
                    </table>
    {% endblock %}