
{% extends "navigation.html" %}

{% load static %}
{% block content %}
 


 
        <style>
        .pictures{
            width: 100%;
            height: 100%;
            position: relative;
            background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("{% static 'images/people.jpg' %}");
        }
         .reg{
            width:600px;
            height: 600px;
            padding: 20px;
            position: absolute;
            left:-5%;
            bottom: 360px;
            transform: translate(22%,55%);
            background: #191919;
        }


        .reg h1{
            color: white;
            text-align: center;
        }

        .reg input[type="text"],.reg input[type = "password"],.reg input[type= "number"]{
            border:0;
            background:none;
            margin: 3px auto;
            text-align: center;
            border: 2px solid #FBEEE6;
            padding: 7px 5px;
            width: 100px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }

        .reg input[type="submit"]{
            border:0;
            background:none;
            display:block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #F9E79F;
            padding: 14px 10px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
            cursor: pointer;
        }

        .reg input[type="submit"]:hover{
            background: #F9E79F ;

        
        }
        .log{
               bottom: 350px;
        }

</style>
</head>
<body>

    <!--Start ANNOUNCEMENT and NAVIGATION BAR--------------------------->
    
    <!--End of ANNOUNCEMENT and NAVIGATION BAR-------------------------->



    <div class="pictures">
            
                
  <script src="{% static 'js/psrformjs.js' %}"></script>
                <form class="registration" method="POST" action="prac/newlist_url">
                 
                    {% csrf_token %}
                    <div class="reg">
                        <h1>Registration</h1>
                        <p style="color: white;">Personal Information</p>

                        <input type="text" name="firstname" id="firstname" placeholder="First name"required>
                        <input type="text" name="surname" id="surname" placeholder="Surname"required> 
                        <input type="text" name="occupation" id="occupation" placeholder="Occupation"required>
                        <input type="number" name="salary" id="salary" placeholder="Salary" onkeyup="sum()"required><br>

                        <input type="text" name="address" id="address" placeholder="Address" style ="width: 455px;"required><br>

                

                        <!-- <input type="text" name="username" id="username" placeholder="Username">
                        <input type="password" name="password" id="password" placeholder="password">
                        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm password"><br> -->
                        <p style="color: white;">Family Information</p>

                        <input style ="width: 215px;" type="text" name="Fullname1" id="Fullname1" placeholder="Fullname (SN GN MI)" required>
                        <input type="text" name="occupation1" id="occupation1" placeholder="Occupation"required> 
                        <input type="number" name="salary1" id="salary1" placeholder="Salary"onkeyup="sum()" required"><br>

                        <input style ="width: 215px;" type="text" name="Fullname2" id="Fullname2" placeholder="Fullname (SN GN MI)"required>
                        <input type="text" name="occupation2" id="occupation2" placeholder="Occupation"required> 
                        <input type="number" name="salary2" id="salary2" placeholder="Salary"onkeyup="sum()"required><br>

                        <input style ="width: 215px;" type="text" name="Fullname3" id="Fullname3" placeholder="Fullname (SN GN MI)"required>
                        <input type="text" name="occupation3" id="occupation3" placeholder="Occupation"required> 
                        <input type="number" name="salary3" id="salary3" placeholder="Salary"onkeyup="sum()" required><br>
                        <p style="color:white; font-size: x-small;"><b>NOTE:</b><br>(1) Only 4 members of the family (including the head of the family) will be included in the subsidy.<br>
                                        (2) Please put 'none' if a family member does not have occupation.<br>
                                        (3) Please put number zero (0) id a family member does not have salary.</b></p><br>
                        <label for="totfam" style="color:white;">Total Family member</label>
                        <input style ="width: 175px;" type="number" name="totalfamily" id="totalfamily" placeholder="Number of Family member" onkeyup="mult(this.value);"required><br>
                        <label for="famsal" style="color:white;">Family Monthly Salary</label>
                        <input style ="width: 175px;" type="number" name="totalsalary" id="totalsalary" placeholder="Total Salary"required><br>
                        <label for="sub" style="color:white;">Total subsidy</label>
                        <input style ="width: 175px;" type="number" name="expectedsubsidy" id="expectedsubsidy" placeholder="money to receive"required>
                        <p style="color:white; font-size: x-small;">One family will receive PHP 4,000 REGARDLESS of number of family member in the house.</p>

                          <input type="submit" name="submit" value="Sign Up">

                    
                          <script>

                            function sum(){
                            
                                var salary1 = document.getElementById('salary').value || 0;
                                var salary2 = document.getElementById('salary1').value || 0;
                                var salary3 = document.getElementById('salary2').value || 0;
                                var salary4 = document.getElementById('salary3').value || 0;
                            
                                var result = parseInt(salary1) + parseInt(salary2) + parseInt(salary3) + parseInt(salary4);
                            
                                    document.getElementById('totalsalary').value = result;
                            }
                            
                            
                            </script>


                    </div>


                </form>
           


                <!-- <form class="logbox" action="psrform.html" method="post">
                    <h1>Login</h1>
                    <input type="text" name="username" id="username" placeholder="username">
                    <input type="password" name="password" id="password" placeholder="password">
                    <input type="submit" name="submit" value="Login">
                </form>
                 -->
                <div class="watch">

                    <h1>It's your right to know</h1>
                <button>Watch here</button>
                
               </div>
               
                <div class="trailer">
                    <video src="{% static 'video/ayuda.mp4' %}" controls="true"></video>
                    <span class="close">&times;</span> <!--DITO NAGTART GUMANA SLIGHT-->
                </div>
   
 
  
       

    </div>


      <!--START FOOTER----------------------------------------------------->
      <footer class="footer">
        <div class="footer-left">
                  <img src="{ 'images/logo.png' }">
    
            <div class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
        <ul class="footer-right">
            <li>
                <h3>Socials</h3>
                
                <ul class="footer-box">
                    <li><a href="https://www.facebook.com/blackcupcogeo/" target="_blank">Facebook</a></li>
                    <li><a href="https://www.instagram.com/_rolianne/"target="_blank">Instagram</a></li>
                    <li><a href="https://www.youtube.com/annemaestre"target="_blank">Youtube</a></li>
                    
                </ul>
            </li>

            <li class="features">
                <h3>Contact us</h3>
                
                <ul class="footer-box">
                    <li><a href="mailto:blackcupcogeo@gmail.com" target="_blank">rolianne.maestre@gsfe.tupcavite.edu.ph</a></li>
                    <li>0945 290 1920</li>
                    
                </ul>
            </li>

            <li>
                <h3>Address</h3>
                
                <ul class="footer-box">
                    <li><a href="https://www.google.com/maps/place/Mabuhay+City+Subdivision/@14.3199002,120.9870772,17z/data" target="_blank">
                        Mabuhay City, Paliparan 3 Dasmarinas City Cavite, 4114</a></li>
                        <li><a href="https://www.google.com/maps/place/38+F.T.+Catapusan+Rd,+Alaza+Aldea,+Tanay,+1980+Rizal/@14.495869,121.2863773,17z/"></a></li>
                </ul>
            </li>
        </ul>

        <div class="footer-bottom">
            <p>All Rights Reserved 2021</p>
        </div>
    </footer>
    <!--END FOOTER------------------------------------------------------>
     
    <!--START VIDEO------------------------------------------------------>
    
 
    <script>
        const button = document.querySelector("button");
        const close = document.querySelector(".close");
        const trailer = document.querySelector(".trailer");
        const video = document.querySelector("video");
 
        button.addEventListener('click', ()=>{
            trailer.style.visibility = "visible";
            trailer.style.opacity = 1;
 
        });
 
          close.addEventListener('click', ()=>{
            trailer.style.visibility = "hidden";
            trailer.style.opacity = 0;
 
            video.pause();
            video.currentTime = 0;
        });
    </script>
    <!--END VIDEO--------------------------------------------------->
    
</body>
</html>
{% endblock %}